<%- include ('../../partials/header')  %>
<%- include ('../../partials/mensaje')  %>

<div class="container">
    <div class="card text-center mt-5">
        <div class="card-header">
            <h3 class="card-title">Este es el perfil de <%= user.Nombre %></h3>
        </div>
    </div>
</div>

<%- include ('../../partials/footer')  %>