<!doctype html>
<html lang="en">
  <head>
    <title>Plataforma de Apicultura</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="../../jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Apiarios Tdd 2020</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <% if(!user) { %>
 
                    <li class="nav-item active">
                        <a class="nav-link" href="/registro"> Registro <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Login"> Login <span class="sr-only">(current)</span></a>
                    </li>

                    <% } %>
                    <!--  -->          
                    <% if(user && user.ID_rolSistema == 1) {%>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/apicultores/aceptados/1&0">Usuarios registrados</a>
                            <a class="dropdown-item" href="/apicultores/solicitudes/1&0">Solicitudes de registro</a>
                        </div>
                    </li>
                    <% } %>
                    <% if(user && user.ID_estado == 1) {%>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Apiarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/apiarios/registrar">Registrar Apiario</a>
                                <a class="dropdown-item" href="/apiarios/listar">Ver Apiarios Activos</a>
                                <a class="dropdown-item" href="/apiarios/listarInactivos">Ver Apiarios Inactivos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Perfil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/apicultores/datos">Mis datos</a>
                                <a class="dropdown-item" href="/salir">Cerrar Sesión</a>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
